<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DnsSnap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DnsSnap.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>Google.com</value>
            </setting>
            <setting name="FirstColor" serializeAs="String">
                <value>#1F1F1F</value>
            </setting>
            <setting name="SecondColor" serializeAs="String">
                <value>#00C3BA</value>
            </setting>
            <setting name="ThirdColor" serializeAs="String">
                <value>#E8E8E8</value>
            </setting>
            <setting name="Admin" serializeAs="String">
                <value>OnConnect</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>True</value>
            </setting>
        </DnsSnap.Properties.Settings>
    </userSettings>
</configuration>